.list{
	padding-bottom: 40px;
}

span {
	padding-right: 30px;
	float: left;
}

img {
	padding-right: 30px;
	float: left;
}

#socialLinks{
	font-family: 'Open Sans',sans-serif;
	font-style: normal;
	margin: 0 0 0 -40px;
}

#socialLinks ul{
	list-style: none;
}

#socialLinks li{
	font-size: 20px;
	margin: 0 0 20px;
}

#facebooktext{
	font-family: @font-face;
	font-size: 26px;
	font-weight:bold;
	color: #3b5998;
}

#instagramtext{
	margin: 0 0 -10px 0;
}

#youtubetext{
	margin: 0 0 -4px 0;
}

#googletext{
	
}

.sign{
	width: 150px;
	height: 30px;
	padding: 0;
	margin: 0 0 0 30px;
}

@font-face{
	font-family: Facebook Letter Faces;
	src: url(‘http://www.mediafont.com/storage/contents/11/font.eot’); /* IE */
	src: local(‘Facebook Letter Faces’), url(‘http://www.mediafont.com/storage/contents/11/FACEBOLF.OTF’); /* non-IE */
}